body {
  background: linear-gradient(#016764, #005958, #014848, #00312F, #001E1E);
  min-height: 100vh;
  margin: 20;
  background-repeat: no-repeat;
}

.headerText {
  color: #b8edff;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-family: "Motiva Sans", Sans-serif;
  margin: 2px;
}

#headerSubtext {
  font-size: 20px;
}

#penguinClipart {
  width: 100%; 
  height: auto; 
  max-width: 300px;
  float: right;
}
